.info-bar {
    background-color: #FFF;
    
    &__list {
        padding: 18px;
        display: flex;
        justify-content: space-between;
        gap: 12px;

        @media (max-width: 640px) {
            flex-direction: column;
        }

        &__item {
            color: #000;

            b {
                display: block;
                color: #000;
                margin-bottom: 5px;
            }
        }
    }
}